.button, .selectedButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.button {
    background-color: #525252;
    border: solid 1px #848484;
}
.selectedButton {
    background-color: #747474;
    border: solid 1px #B8B8B8;
}
.button:hover, .selectedButton:hover {
    background-color: #747474;
    border: solid 1px #B8B8B8;
    cursor: pointer;
}
.button:active, .selectedButton:active {
    background-color: #666666;
    border: solid 1px #B8B8B8;
    cursor: pointer;
}
.armorCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}
.icon{
    fill: #A4A4A4;
    width: 20px;
    height: 20px;
}