.statDisplay, .statIdentifiers {
    display: flex;
    flex-direction: row;
}
.statDisplay {
    flex: 1;
}
.statIcons, .statNames, .statBars{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.statIcon, .statName, .statBar {
    height: 20px;
}
.statIcons {
    padding: 0px 5px;
}
.statIcon {
    fill: white;
    width: 20px;
}
.statNames {
    align-items: end;
    border-right: solid 1px #FFFFFF;
    padding-right: 5px;
}
.statName {
    display: flex;
    align-items: center;
}
.statBars {
    width: 100%;
}
.statBar {
    background-color: #585858;
}